@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* Tùy chỉnh thanh cuộn ngang */
::-webkit-scrollbar {
  height:10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}